.basic-alerts-info.mat-snack-bar-container{
    background-color: mat-color($info-color,200);
    color: mat-color($info-color,800);
}

.dark-theme-one .basic-alerts-info.mat-snack-bar-container{
    background-color: mat-color($info-color,600);
    color: mat-color($info-color,200);
}