.outlined-info.mat-snack-bar-container{
    background-color: transparent ;
    border: 1px solid mat-color($info-color,500);
    color: mat-color($info-color,300);
 
}

.dark-theme-one .outlined-info.mat-snack-bar-container{
    background-color: transparent ;
    border: 1px solid mat-color($info-color,500);
    color: mat-color($info-color,300);
 
}