.mat-toolbar.mat-error-color{
    background-color: mat-color($error-color,500); 
    color: $color-white;
}


.dark-theme-one .mat-toolbar.mat-error-color{
    background-color: mat-color($error-color,300); 
    color: currentColor;
}