<!-- <div class="d-flex">
  <app-sidebar></app-sidebar>
  <app-gifs-page class="container"></app-gifs-page>
</div> -->


<button  mat-icon-button color="accent">
  <mat-icon>cancel</mat-icon>
</button>

<br><br>

<button  mat-icon-button color="accent" size="small">
  <mat-icon class="medium" >cancel</mat-icon>
</button>

<br><br>

<button  mat-icon-button color="accent" size="small">
  <mat-icon class="large" >cancel</mat-icon>
</button>


<mat-divider />

<button  mat-icon-button color="accent" size="medium">
  <mat-icon size="small" >cancel</mat-icon>
</button>

<br><br>

<button  mat-icon-button color="accent" size="medium" >
  <mat-icon >cancel</mat-icon>
</button>

<br><br>

<button  mat-icon-button color="accent" size="medium">
  <mat-icon size="large" >cancel</mat-icon>
</button>