@import url('../css/01_body.css');
body>nav{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: auto;
background-color: #141D29;
z-index: 1;
}
body>nav>section
{
    display: flex;
    height: 10vh;
    margin: 1px;
    padding: 3px;
}

body>nav>#a{
    flex-basis: 50%;
}
body>nav>#a>img{
    width: 20%;
    height: auto;
}
body>nav>#a,#b{
    border-right: 1px solid white;
}
body>nav>#b,#c{
    flex-basis: 25%;
}
