@import url('../css/firstCalendar.css');
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

html{
background-color: #aaaaaa;
width: 100%;
height: auto;
}
/* didier Martínez */
body{
width: 100%;
height:  145vh;
display: flex;
flex-direction: column;
align-items: center;
}
    body>header{
        display: flex;
    align-items: center;
    width: 100%;
    height: 12.17vh;
    background-color: #141D29;
    z-index: 1;
    box-shadow: 0px 7px 11px rgba(65, 65, 65, 0.8);
    }
    body>aside{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25.72vh;
    background-color: #e5e9ec;
    box-shadow: 0px 10px 11px rgba(113, 113, 113, 0.7);
    }
    body>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:  auto;
    background-color: white;
    margin: auto;
    border-radius:5px 5px 5px 5px  ;
    }
        body>article>header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height:  auto;
        background-color: #D2D2D2;
        border-radius:5px 5px 0px 0px ;
        padding: 20px;
        }
            body>article>header>h2{
                font-family: 'Inter';
                font-style: normal;
                font-size: 1.517vw;
                color: #4581b0;
            }
            body>article>header>.toggleViwerTime{
                /* ordenar bitacora */
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size:   1vw;
                line-height: 16px;
                color: #857F7E;
                width: 22%;
                height: auto;
            }
                body>article>header>.toggleViwerTime>input[type=checkbox] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }
                body>article>header>.toggleViwerTime>label {    
                    content: '';
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    color: white;
                    justify-content: end;
                    padding: 5px;
                    width: 37%;
                    height: 4vh;
                    background: #8ED948;
                    background-image: url('/images/Periodos.png');
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 90%;
                    border: 1px solid #60992a;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 10px;
                    margin: auto;
                    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25));
                }
                body>article>header>.toggleViwerTime>label:after {
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    text-align: center;
                    color: #8ED948;
                    border: 1px solid #60992a;
                    font-weight:800;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: 32%;
                    height: 3vh;
                    background: #fbfbfb;
                    border-radius: 5px;
                    transition: 0.3s;
                   
                }
                body>article>header>.toggleViwerTime>input:checked+label {
                    background-color: #3674A3;
                    border: 1px solid #0a4c7e;
                    display: flex;
                    justify-content: start;   
                    background-image: url('/images/Meses.png');
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 25%;
                    
                }
                body>article>header>.toggleViwerTime>input:checked+label:after {
                    left: calc(100% );
                    transform: translateX(-100%);
                    color: #6891B0;
                    border: 1px solid #0a4c7e;
                }
            body>article>header>.toggleSlide{
                width: 20%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size:   1vw;
                line-height: 16px;
                color: #857F7E;
                }
                body>article>header>.toggleSlide>button{
                    width: 15%;
                    height: 4vh;
                    cursor: pointer;
                    border :1px solid #3674A3;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.36))
                }
                body>article>header>.toggleSlide>.after{
                    background-image: url('/images/after.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                body>article>header>.toggleSlide>.next{
                    background-image: url('/images/next.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
/* seccion calendarios restantes*/
            body>article>aside{
                display: flex;
                flex-direction: column;
                width: 99%;
                height: 8vh;
                margin: 5px;
                background-repeat: no-repeat;
                background-size: contain;
                
            }
                body>article>.Devengado{
                    background-image: url('/images/flag_blue.svg');
                }
                body>article>.Vacaciones{
                    background-image: url('/images/flag_yellow.svg');
                }
                body>article>.Deducido{
                    background-image: url('/images/flag_red.svg');
                }
            body>article>aside>.up,.down{
                display: flex;
                align-items: center;
                width: 100%;
                height: 4vh;
            }
                body>article>aside>.up> .firstSectionNames{
                    display: flex;
                    justify-content: space-between;
                    width: 20%;
                    height: auto;
                }
                    body>article>aside>.up>.firstSectionNames>p{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 22%;
                        height: 4vh;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 16px;
                        color: #FFFFFF;
                    }
                    body>article>aside>.up>.firstSectionNames>.row{
                        width:73%;
                        height: 4vh;
                        background-image: url('/images/row.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size:cover;
                        font-weight: 400;
                        color: #323232;
                    }
                body>article>aside>.up>.calendarie{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 75%;
                    height: 4vh;
                    font-size: 15px;
                    }
                    body>article>aside>.up>.calendarie>.anotherDays{    
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3.19%;
                        height: 4vh;
                        border: 0.5px solid #eaeaea;
                        cursor: pointer;
                        color: white;
                        background-color: #eeeeee;
                        font-size: 10px;
                    }
                        body>article>aside>.up>.calendarie .Vacaciones-1{
                            background-color: #f3b754;
                            border: 0.5px solid #e4aa45;
                        }
                        body>article>aside>.up>.calendarie .Devengado-Pagado{
                            background-color: #84b2d6;
                            border: 0.5px solid #7ca9cd;
                        }
                        body>article>aside>.up>.calendarie .Devengado-1{
                            background-color: #447da9;
                            border: 0.5px solid #336d99;
                        }
                        body>article>aside>.up>.calendarie .Deducido-Pagado{
                            background-color: #f7afb8;
                            border: 0.5px solid #f5a1ab;
                        }
                        body>article>aside>.up>.calendarie .Deducido-1{
                            background-color: #f14c60;
                            border: 0.5px solid #de4557;
                            color: white;
                        }
                body>article>aside>.up>.totalDias{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5%;
                    height: auto;
                }
                    body>article>aside>.up>.totalDias>.dia{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                        height: 4vh;
                        background-color: #9b9b9b;                        
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 16px;
                        color: #FFFFFF;
                    }
            body>article>aside>.down{
                padding-left: 20px;
            }
                body>article>aside>.down>.two{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 52%;
                    height: auto;
                }
                    body>article>aside>.down>.two>.item{
                        display: flex;
                        align-items: center;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        color: #5c5c5cbd;
                        width:auto;
                        height: auto;
                    }
                    body>article>aside>.down>.two>.base{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: auto;
                                height: auto;
                                background-color: #fbe5ff;
                                font-size: 13px;
                                color: #9a6ca1;
                                font-weight: 300;
                                margin-left: 5px;
                    }



