@use "@angular/material" as mat;

@use "sass:map";

@import "@angular/material/theming";

//GAMA DE COLORES
// $typografy: mat.define-typography-config(
//   $font-family: 'Roboto, "Helvetica Neue", sans-serif',
//   $headline: mat.define-typography-level(96px, 96px, 300,$font-family:'Roboto'),

//   $subheading-2:  mat.define-typography-level(48px, 48px, 500,$font-family:'Nunito'),
//   $subheading-1:  mat.define-typography-level(34px, 34px, 600,$font-family:'Nunito'),


// );
$typografy: mat.define-typography-config(
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  // ...
);

// .mat-toolbar h1 {
//   @include mat-typography-level-to-styles($typografy ,headline); // where headline maps to h1
// }

@include mat.core($typografy);



// PALETA DE COLORES

//paleta oscura
$angular-primary-dark-palette: mat.define-palette(mat.$indigo-palette, 300);
$angular-accent-dark-palette: mat.define-palette(mat.$pink-palette, A200);
$angular-warn-dark-palette: mat.define-palette(mat.$red-palette);

// TEMA PROPIO

//tema oscuro
$angular-original-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary-dark-palette,
      accent: $angular-accent-dark-palette,
      warn: $angular-warn-dark-palette,
    ),
  )
);
// colores extra
$angular-original-dark-theme: map.deep-merge(
  $angular-original-dark-theme,
  (
    success: $success-color,
    info: $info-color,
    warning: $warning-color,
    color: (
      success: $success-color,
      info: $info-color,
      warning: $warning-color,
    ),
  )
);

// APLICAR NUESTRO TEMA A ANGULAR

// forma(1) en una clase propia
.dark-theme-one {
  @include mat.all-component-colors($angular-original-dark-theme);
}
