body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6eff6;
    width: 100%;
    height: 100vh;
    font-family: "karla",sans-serif;
    
}

    main{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color:  #e6eff6;
        
    }
    h1,h2,h3,h4,p{
        padding-left: 50px;
        
    }
    

#one{
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    
    
}

#one>h1{
    color: #3eabae;
    font-size: 26px;
    font-weight: 400;
    padding-top: 30px;
}

#one>h3{
    color: #c4d865;
    font-size: 22px;
}

#one>p{
    color: #a9acb1;
    font-size: 18px;
    width: auto;
}

.bottom{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
    
}

#two{
   
    height:100%;
    width: 50%;
    background-color: #2bb3b1;
    border-radius: 0px 0px 0px 10px;

}
 
#two>h4{
    padding-top: 14px;
    color:white;
}

#two p{
    color: white;
    font-size: 30px;
    font-weight: 500;
}
#two .span{
    color: #a9fbff;
    font-size: 13px;
    font-weight: 200;
}

#two #p{
    color: #d5fdff;
    font-size: 15px;
    font-weight: 200;
}

#two>button{
    /* Rectangle 1 */

width: 70%;
height: 48px;
margin-left: 50px;
background: #BFDF32;
border-color: #BFDF32;
border-radius: 5px;
border: 1px;

color: white;
}

#two>button:active{
    background-color: #9BFC3A;
    border-color: #9BFC3A;
}

#tree{
   
    height:100%;
    width: 50%;
    background-color: #4abebd;
    border-radius: 0px 0px 10px 0px;
}
 
#tree>h4{
    padding-top: 14px;
    color: white;
}

#tree>p{
    width: 205px;
    font-size: 13px;
    line-height: 30px;
    font-weight: 200;
    color: #d5fdff;;
}

@media (max-width: 375px) {
 
    h1,h2,h3,h4,p{

        padding-left: 40px;
    }
    

    #one{
        width: 100%;
        height: 100%;
    }
    #one>h1{
        padding-top: 100px;
    }
    #one>p{
        width: auto;
        height: auto;
        
    }
    .bottom{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    #two{
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
    #two>button{
        /* Rectangle 1 */
    margin-bottom: 20px;
    margin-left: 40px;
    }

    #tree{
        width: auto;
        height: auto;
    }
}