.u-container-90{
    width: 90%;
}
.u-text-aling-right{text-align: right;}   

.u-container-center {
    align-self:center;
}
.u-container-left{
    padding: .2rem;
    align-self:flex-start;
}
.u-negative-text-color{
    color: red !important;
}

