@import url('../css/01_body.css');
article>span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 8vh;
    padding: 1px;
    margin: 3px;
    background-repeat: no-repeat;
}
/* seccion del primer calendario*/
article>span>.container{
height: 8vh;
font-family: 'Inter';
font-style: normal;
}
/* left */
article>span>#categories{
width: 20%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 10px;
color: #4581b0;
}
/* center */
article>span>#firstCalendar{
display: flex;
width: 75%;
display: flex;
align-items: center;
justify-content: center;
margin: 5px;
} 
article>span>#firstCalendar>span{    
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex: 1;
height: auto;
border-bottom: 0.5px solid #afafaf;
border-right: 0.5px solid #afafaf;
cursor: pointer;
color: #8c8d8f;

}
article>span>#firstCalendar>.V{
border-bottom: 1.5px solid #b47a1b;
background-color:#f3b6542a;
cursor: pointer;
color: #8c8d8f;
font-size: 1.2vw;
color: #f3b754;
font-weight: 600;

}
article>span>#firstCalendar>.D{
font-weight: 500;
color: rgb(70, 70, 70);
font-size: 1.2vw;
border-bottom:1.5px solid black;
background-color:rgba(238, 238, 238, 0.712);
}
/* right */
article>span>.diasTitulo{
width: 5%;
display: flex;
align-items: center;
justify-content: center;
color: #6594B8;

}
/* seccion del primer calendario*/   
