
body {
  width: 100%;
  height: auto;
  background: radial-gradient(
    circle at 50% 10%,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

main {
  display: flex;
  justify-self: center;
  align-self: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: transparent;
  border: 4px solid #5c6c86;
  border-radius: 10px;
  height: 194px;
  width: 1123px;
  margin-top: 61px;
}

header > #left {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: transparent;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header > #left img {
  margin-left: 30px;
}

header > #right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header > #right > #container_right {
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 143.87px;
  background-color: white;
  margin-right: 30px;
  border-radius: 10px;
}

header > #right > #container_right p {
  /* score 12 */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #324594;
}

header > #right > #container_right span {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 1px;
  text-align: center;
  color: #565567;
}

main > #one {
  display: flex;
  flex-direction: column;
  margin-top: 105px;
  width: 709px;
  height: 588px;
  background-color: transparent;
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main > #one > #a_1 {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 50%;
}

main > #one > #a_1 #left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 1px;
  background-color: transparent;
}

main > #one > #a_1 #right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 1px;
  background-color: transparent;
}

main > #one > #a_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: transparent;
  height: 50%;
  margin-top: 1px;
}

main > #one .button {
  /* Ellipse 2 */
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #e8e8e8;
  cursor: pointer;
  border: none;
}

main > #one button:active {
  background-color: rgb(219, 219, 219);
}

.dot {
  /* Ellipse 1 */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* inicio section 2 */
main > #two {
  display: none;
  justify-content: center;
  margin-top: 105px;
  width: 800px;
  height: auto;
  background-color: red ;
}
main > #two > #a_2 {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 99%;
  height: 99%;
  margin: 1px;
}

main > #two > #a_2 #left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 99%;
  margin: 2px;
  background-color: transparent;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 46px;
  color: #ffffff;
}

main > #two > #a_2 #right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 2px;
  background-color: transparent;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  line-height: 46px;
}

main > #two > #a_2 .span_button_1,
.span_button_2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > #two > #a_2 .button_1,
.button_2 {
  /* Ellipse 2 */
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: none;
  /* play again */
}

main > #two > #a_2 p {
  /* you picked */

  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  color: #ffffff;
}

main > #two > #a_2 #reload {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 226px;
  height: 210px;
  background-color: lime;
  /* you lose */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1px;

  color: #ffffff;
}

main > #two > #a_2 > #reload button {
  /* Rectangle 4 */
  width: 196px;
  height: 71px;
  background: #ffffff;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #a13e53;
}
/* fin section 2 */

main > footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-top: 74px;
  width: 100%;
  background-color: transparent;
  height: 100px;
}

footer > #container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 147px;
  height: 59px;
  border-radius: 10px;
  border: 4px solid #5c6c86;
  margin-right: 30px;
}

footer > #container button {
  /* rules */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  /* Hidden by default */
  align-items: center;
  justify-content: center;
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

main > #prueba {
  margin-top: auto;
  margin-bottom: auto;
  width: 709px;
  height: auto;
  background-color: transparent;
  /* you picked */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.alert {
  /* the house picked */
  display: none;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  
}

  @media (max-width: 375px ) {

    body{
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      height: auto;

    }

    main{
      width: 100%;
      height: auto;
      background-color: transparent;
      margin: 5px;
    }

    header{
      width: 100%;
      height: auto;
      background-color: transparent;
      margin-top:  61px;
      margin-bottom: 105px;
    }
    
    header > #right  {
    width: 50%;
    height: auto;
    background-color: transparent;
    }
    
    header > #left  {
      width: 50%;
      height: auto;
      background-color: transparent;
    }
  
    header > #left img {
      margin-left: 1px;
      width: 100%;
      height: auto;
  }
    header > #right > #container_right {
      width: auto;
      height: auto;
      background-color: white;
      margin: 3px;
    }
    

    main > #one {
      margin-top: auto;
      width: 100%;
      height: auto;
      background-color: transparent;
      background-size:90%;
      margin-top: auto;
      margin-bottom: 70px;
    }
    main > #one > #a_1{
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
      background-color:transparent;
      margin: 2px;
    }
    main > #one > #a_2{
      width: auto;
      height: auto;
      background-color: transparent;
      margin: 2px;
    }
    
    main > #one > #a_1 #left{
      width: 50%x;
      height: auto;
      background-color: transparent;
    }

    main > #one > #a_1 #right{
      width: 50%;
      height: auto;
      background-color: transparent;
    }

    main > #one .button {
      /* Ellipse 2 */
      width: 90px;
      height: 90px;
  
    }
  .dot{
    width: 125px;
    height: 125px;
    
  }
  main > #two {
    display: none;
    justify-content: center;
    margin-top: 105px;
    width: 100%;
    height: auto;
    background-color: red ;
  }
  main > #two > #a_2 {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
    height: auto;
    margin: 5px;
  }
  
  main > #two > #a_2 #left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5px;
    background-color: orangered;
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 46px;
    color: #ffffff;
  }
  
  main > #two > #a_2 #right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 5px;
    background-color: yellow;
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    line-height: 46px;
  }
  
  main > #two > #a_2 .span_button_1,
  .span_button_2 {
    width:100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main > #two > #a_2 .button_1,
  .button_2 {
    /* Ellipse 2 */
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    border: none;
    /* play again */
  }
  
  main > #two > #a_2 p {
    /* you picked */
  
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    color: #ffffff;
  }
  
  main > #two > #a_2 #reload {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: lime;
    /* you lose */
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1px;
    margin: 5px;
    color: #ffffff  ;
  }
  
  main > #two > #a_2 > #reload button {
    /* Rectangle 4 */
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  
    color: #a13e53;
  }
  main > footer {
  margin-top: auto;
  align-items: center;
    width: 100%;
    background-color: transparent;
    height: auto;
  }
  footer > #container{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }

  .modal-content{
    width: 50%;
    height: 50%;
  }

  }