.mat-tab-group {
    width: 90%;
    border: 1px solid line;
    margin: auto;
    .mat-tab-body-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem auto;
        padding: .5rem 1rem;
        height: auto;
    }
}

