body{
    display: flex;
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: red;
}

#one{
   
   
    height: 50%;
    width: 100%;
    background-color: blue;
}

#two{
   
  
    height: 50%;
    width: 50%;
    background-color: lime;
}



#tree{
   
    
   
    height: 50%;
    width: 50%;
    background-color: yellow;
}