.basic-alerts-success.mat-snack-bar-container{
    background-color:  mat-color($success-color, 200) ;
    color:  mat-color($success-color, 800) ;
}

//dark theme
.dark-theme-one .basic-alerts-success.mat-snack-bar-container{
    background-color:  mat-color($success-color, 500) ;
    color:  mat-color($success-color, 100) ;
}