.example-spacer {
    flex: 1 1 auto;
}

.scroll-left{
    overflow-y: scroll;
}

.height-container{
    height: 70vh;
}

.max-width{
    width: 100% !important;
}

.margin-top-1{
    margin-top: 1rem !important;
}