//COLORS
$color-white:#ffff;
$color-white-lighten:#F1F1F1;

$color-gray-lighten:#EEEEEE;
$color-gray-lighten-second:#E5E9EC;    
$color-gray-medium:#AFAFAF;
$color-gray-dark:#707070;
$color-gray-dark-second:#818285;

$color-green-medium:#8ED243;
$color-green-dark:#568221;


$color-blue-medium:#4f90c1;
$color-blue-medium-dark:#243648;
$color-blue-medium-dark_second:#1b344c;
$color-blue-dark:#141D29;
$color-yellow-vacaciones:#f7b750;
$color-blue-devengado:#447DA9;
$color-red-deducido:#F14C60;
$color-purple-medium:#9a6ca1;
// FONT
$default-font-size: 1.6rem;//1.6rem

//size
$smaller-text:.8rem;
$medium-text:1.2rem;
$big-text:1.8rem;

$Anchor-tag-size_first:1.1rem;
$Anchor-tag-size_second:1.3rem;
