html{
    margin: auto;
    padding: auto;
    background-color: #182547;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Gugi', cursive;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 18.58vh;
    /* guess the word */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20.3221px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 45px;
    line-height: 1px;
    border: 1px solid purple;
}
header>h2{
    /* charades online game */
font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 4.16vw;
line-height: 71px;
text-align: center;
color: #FFFFFF;
line-height: 1px;

}
main{
    display: flex;
justify-content: center;
width: 90%;
height: auto;


}
main>section{
display: flex;
justify-content: center;
align-items: center;
}
main>section>img{
    width: 90%;
    height: auto;
    cursor: pointer;
}
main>article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSetting{
    width: 7rem;
    height: 7rem;
    
}
#setting{
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height:auto;
    border: 1px solid red;
}
#setting>aside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 22%;
    height: 60vh;
    background: rgba(52, 77, 122, 0.57);
    border-radius: 9.39937px;
    margin: 10px;
    list-style: none;
    padding: 15px;
    border: 1px solid yellow;
    
}
#setting>aside>.img_setting{
    width: 100%;
    height: auto;
    border: 1px solid pink;
}
#setting>aside>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30vh;
    border: 1px solid lime;
}
#setting>aside>form>.container_category{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
}

#setting>aside>form>.container_category>.option{
    display: flex;
    align-self: center;
    width: 11.92vw;
    height:  5.39vh;
    background-color: #182547;
    /* English words */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 10px;
    padding: 5px;
}

#setting>aside>form>.categoryLabel{
    /* English words */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    border-radius: 5px;
    color: white;
    
}
#setting>aside>form>input[type="text"]{
    width: 11.92vw;
    height:  6.39vh;
    background-color: #182547;
    color:#FFFFFF;
    border: none;
    border-radius: 5px;

}
footer{
    margin: 10px;
    display: none;
    justify-content: center;
    width: 90%;
    height: auto;
    border: 1px solid white;
}

#buttonStarGame{
width: 25%;
height: 5vh;
background-color: #07D603;
border-radius: 15px;
border:none;
cursor: pointer;
/* start game */
font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
text-align: center;

color: #FFFFFF;


}
#buttonStarGame:hover{
    background-color: limegreen;
}
#btnRules,#modal{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(66, 92, 119, 0.68);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#btnRules:hover{background-color:#0d71dbad ;}
.iconCategory{
width: 23px;
height: 23px;
}
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
}
.modal>#rulesPop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:50%;
    height: auto;
    background-color: #182547;
    box-shadow: 0px 0px 105.649px 14.5008px rgba(60, 60, 60, 0.81);
    
}
.modal>#rulesPop>header{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    background-color: blue;
}
.modal>#rulesPop>header>.closeRules{
    cursor: pointer;
}
.headerCloseRules{
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
border-radius: 20px;
}
