 //inputs

    .mat-form-field.mat-focused.mat-success .mat-form-field-ripple{
        background-color:  mat-color($success-color, 500) ;
    }
    .mat-form-field.mat-focused.mat-success .mat-form-field-label{
        color:  mat-color($success-color, 500) ;
    }
    .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-success .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate{
        background-color:  mat-color($success-color, 500) ;
    }

//dark theme

    .dark-theme-one .mat-form-field.mat-focused.mat-success .mat-form-field-ripple{
        background-color:  mat-color($success-color, 300) ;
    }
    .dark-theme-one .mat-form-field.mat-focused.mat-success .mat-form-field-label{
        color:  mat-color($success-color, 300) ;
    }
    .dark-theme-one .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-success .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate{
        background-color:  mat-color($success-color, 300) !important;
    }
