

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
}

main > header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

main > header >hr {
    width: auto;
    visibility: collapse;
    height:auto;

}
main > header #left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}

main > header > #left h1 {
  margin-left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
}

main > header > #left p {
  /* Total Followers:23,004 */
  position: relative;
  bottom: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 50px;
  color: #656773;
}

main > header #right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}

main > header > #right button {
  margin-right: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
background: #C4C4C4;
border-radius: 50px;
width: 74px;
height: 33px;
border: 1px;
}

main > header > #right>button>#dot {
  height: 25px;
  width: 25px;
  background-color: #EFF2F7;
  border-radius: 50%;
  display: flex;
  margin-top: 3px;
  margin-left: 55%;
}

main > header > #right label {
  margin-right: 10px;
  /* Dark Mode */

  
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #8589A6;
}


main > #grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
  border:1px solid red ;
}

#grid-container > .grid_iten {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 280px;
  background-color: #f0f3fa;
  border-radius: 10px;
}

#grid-container > div header {
  width: 100%;
  height: 7px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
}

#grid-container > div > .awa {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
}

#grid-container > div > .awa > .span_1 {
  /* @nanthanf */

  font-family: "Inter";
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  color: #747786;
  margin-left: 5px;
}

#grid-container > div > .number {
  height: auto;
  width: auto;
  /* 1987 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 1px;
  color: #000000;
}
#grid-container > div > .p_class {
  /* FOLLOWERS */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.32em;

  color: #6b6d79;
}

#grid-container > div span {
  /* 12 today */

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}
#grid-container>div .icon_header_down{
    margin-top: 6px;
}

main > #grid_container_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
}

main > h1 {
  margin-left: 50px;
}

#grid_container_2 > .gird_2_item {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #f0f3fa;
  margin-left: auto;
  margin-right: auto;
}

.ada_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;

}
.ada_1 > .a1 {
  display: flex;
  align-items: center;
  width: 90%;
  height: 50%;

}
.a1 > span {
  /* page views */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
  color: #676a7b;
}

.ada_1 > .a2 {
  display: flex;
  align-items: center;
  width: 90%;
  height: 50%;
}

.ada_1 >.a2 >.p_2 {
  margin-left: 30px;
  /* 87 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 550;
  font-size: 33px;
  line-height: 40px;

  color: #000000;
}

.ada_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.ada_2 > .b1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50%;
}

.b1 > img {
  margin-left: 10px;
}
.ada_2 >.b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50%;

}

.b2>.span_b2{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 4px;

}

.b2>img{
    margin-top: 7px;
}

@media (max-width: 375px) {
    main > header {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    main > header >hr {
        width: 100%;
        visibility:visible;
    }

    main > header #left {

        width: auto;
        height: auto;
    }
    main > header #right {

         width: auto;
         height: auto;
     }

     main > header > #right label{
      margin-right: auto;
      margin-left: 40px;
     }
     main > #grid-container {
        display: grid;
        grid-template-columns:auto;

    }

    main > #grid_container_2 {
        display: grid;
        grid-template-columns:auto;
    
    }

  }
